## SQL Connection Example

### Imports

In [1]:
import os

import pandas as pd
from sqlalchemy import create_engine

---

## Pull in values we need for the connection string!

Before, we just hardcoded these values. 
However, anyone reading the notebook (in Github or somewhere else) can see those credentials.
This is obviously an issue that we want to handle.
One way to handle this is by using environment variables.

Environment variables are just key/value pairs living in your computer's environment.
Let's look at all of the current environment variables available.

In [2]:
%env

{'ALLUSERSPROFILE': 'C:\\ProgramData',
 'APPDATA': 'C:\\Users\\bivey\\AppData\\Roaming',
 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
 'COMPUTERNAME': 'LAPTOP-VI8H9FNC',
 'COMSPEC': 'C:\\Windows\\system32\\cmd.exe',
 'CONDA_DEFAULT_ENV': 'sql-connection',
 'CONDA_EXE': 'C:\\Users\\bivey\\anaconda3\\Scripts\\conda.exe',
 'CONDA_PROMPT_MODIFIER': '(sql-connection) ',
 'CONDA_PYTHON_EXE': 'C:\\Users\\bivey\\anaconda3\\python.exe',
 'CONDA_ROOT': 'C:\\Users\\bivey\\anaconda3',
 'CONDA_SHLVL': '1',
 'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
 'HOMEDRIVE': 'C:',
 'HOMEPATH': '\\Users\\bivey',
 'LOCALAPPDATA': 'C:\\Users\\bivey\\AppData\\Local',
 'LOGONSERVER': '\\\\LAPTOP-VI8H9FNC',
 'NUMBER_OF_PROCESSORS': '12',
 'ONEDRIVE': 'C:\\Users\\bivey\\OneDrive',
 'ONEDRIVECONSUMER': 'C:\\Users\\bivey\\OneDrive',
 'OS': 'Windows_NT',
 'PATH': 'C:\\Users\\bivey\\anaconda3\\envs\\sql-connection;C:\\Users\\bivey\\anaconda3\\envs\\sql-connection\\Library\\mingw-w64\\bin;C:\\Users\\bivey\\anaconda3\\envs\\sql-connection\\Library\\usr\\bin;C:\\Users\\bivey\\anaconda3\\envs\\sql-connection\\Library\\bin;C:\\Users\\bivey\\anaconda3\\envs\\sql-connection\\Scripts;C:\\Users\\bivey\\anaconda3\\envs\\sql-connection\\bin;C:\\Users\\bivey\\anaconda3\\condabin;C:\\Users\\bivey\\anaconda3;C:\\Users\\bivey\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\bivey\\anaconda3\\Library\\usr\\bin;C:\\Users\\bivey\\anaconda3\\Library\\bin;C:\\Users\\bivey\\anaconda3\\Scripts;C:\\Program Files (x86)\\Common Files\\Oracle\\Java\\javapath;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files (x86)\\NVIDIA Corporation\\PhysX\\Common;C:\\Program Files\\NVIDIA Corporation\\NVIDIA NvDLISR;C:\\Program Files\\Git\\cmd;C:\\Users\\bivey\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\bivey\\AppData\\Local\\GitHubDesktop\\bin',
 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC',
 'PROCESSOR_ARCHITECTURE': 'AMD64',
 'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 158 Stepping 10, GenuineIntel',
 'PROCESSOR_LEVEL': '6',
 'PROCESSOR_REVISION': '9e0a',
 'PROGRAMDATA': 'C:\\ProgramData',
 'PROGRAMFILES': 'C:\\Program Files',
 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
 'PROGRAMW6432': 'C:\\Program Files',
 'PROMPT': '(sql-connection) $P$G',
 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules',
 'PUBLIC': 'C:\\Users\\Public',
 'SESSIONNAME': 'Console',
 'SYSTEMDRIVE': 'C:',
 'SYSTEMROOT': 'C:\\Windows',
 'TEMP': 'C:\\Users\\bivey\\AppData\\Local\\Temp',
 'TMP': 'C:\\Users\\bivey\\AppData\\Local\\Temp',
 'USERDOMAIN': 'LAPTOP-VI8H9FNC',
 'USERDOMAIN_ROAMINGPROFILE': 'LAPTOP-VI8H9FNC',
 'USERNAME': 'bivey',
 'USERPROFILE': 'C:\\Users\\bivey',
 'WINDIR': 'C:\\Windows',
 'CONDA_PREFIX': 'C:\\Users\\bivey\\anaconda3\\envs\\sql-connection',
 'KERNEL_LAUNCH_TIMEOUT': '40',
 'JPY_INTERRUPT_EVENT': '3712',
 'IPY_INTERRUPT_EVENT': '3712',
 'JPY_PARENT_PID': '3704',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'}

In [3]:
%env HOMEPATH

'\\Users\\bivey'

Let's echo a variable that may not exist yet.

In [5]:
%env FOOBAR

UsageError: Environment does not have key: FOOBAR

Ok.. Nothing.
Let's create it.

In [6]:
%env FOOBAR baz

env: FOOBAR=baz

Now.. Let's echo it.

In [7]:
%env FOOBAR

'baz'

# ---

## So what?
Well.. This means we can store these values outside of jupyter notebook, then reference the values within. 
They just need to be set first!

Let's switch over to the anaconda prompt for this one. 
Copy and paste!!

```bash
conda install --yes --channel conda-forge python-dotenv
```

What did we just install? 
This -> https://anaconda.org/conda-forge/python-dotenv

`python-dotenv` is a package that let's us set environment variables like this in a `.env` file, and it will load them for us!\
So.. Let's create a `.env` file.

But first.. Let's see what we're missing.

In [8]:
%env POSTGRES_USERNAME

UsageError: Environment does not have key: POSTGRES_USERNAME

In [9]:
%env POSTGRES_PASSWORD

UsageError: Environment does not have key: POSTGRES_PASSWORD

Ok.. Now let's set them!!

In [10]:
creds = """
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
"""

with open('./.env', 'w') as f:
    f.write(creds)

This just created a file for you!
Specifically, this created that `.env` file and put those credentials in there.
Now.. We can use `python-dotenv` to read them in and use them!

In [11]:
from dotenv import load_dotenv
load_dotenv()

True

Easy peezy. 
Now, let's create that connection string.

---

### Create the connection to the database

In [12]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="LahmanBaseball"
)

In [13]:
print("Connection string is:", postgres_connection_string)

Connection string is: postgres://postgres:postgres@localhost:5432/LahmanBaseball?gssencmode=disable

Awesome! Just like before, we have our connection string.
Now, we can connect.

In [14]:
engine = create_engine(postgres_connection_string)

Next, we can start using it!
Create a SQL script, and let pandas run the query against the engine!

In [15]:
batting_sql = "SELECT * FROM batting;"

In [16]:
# use the connection to run a query using pandas!
batting_df = pd.read_sql(batting_sql, con=engine)
batting_df.head()

,playerid,yearid,stint,teamid,lgid,g,ab,r,h,h2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,abercda01,1871,1,TRO,NA,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NA,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NA,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NA,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NA,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN

In [19]:
people_sql = 'SELECT * FROM people;'
people_df = pd.read_sql(people_sql, con=engine)
people_df.head()

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [20]:
appearances_sql = 'SELECT * FROM people;'
appearances_df = pd.read_sql(appearances_sql, con=engine)
appearances_df.head()

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [22]:
appearances_sql = 'SELECT * FROM appearances;'
appearances_df = pd.read_sql(appearances_sql, con=engine)

collegeplaying_sql = 'SELECT * FROM collegeplaying;'
collegeplaying_df = pd.read_sql(collegeplaying_sql, con=engine)

schools_sql = 'SELECT * FROM schools;'
schools_df = pd.read_sql(schools_sql, con=engine)

salaries_sql = 'SELECT * FROM salaries;'
salaries_df = pd.read_sql(salaries_sql, con=engine)

fielding_sql = 'SELECT * FROM fielding;'
fielding_df = pd.read_sql(fielding_sql, con=engine)

pitching_sql = 'SELECT * FROM pitching;'
pitching_df = pd.read_sql(pitching_sql, con=engine)

batting_sql = 'SELECT * FROM batting;'
batting_df = pd.read_sql(batting_sql, con=engine)

teams_sql = 'SELECT * FROM teams;'
teams_df = pd.read_sql(teams_sql, con=engine)

homegames_sql = 'SELECT * FROM homegames;'
homegames_df = pd.read_sql(homegames_sql, con=engine)

awardsmanagers_sql = 'SELECT * FROM awardsmanagers;'
awardsmanagers_df = pd.read_sql(awardsmanagers_sql, con=engine)

# What range of years does the provided database cover?

In [71]:
max_year = appearances_df.yearid.max()
min_year = appearances_df.yearid.min()
print ("The database spans the years of "+ str(min_year) + " to " + str(max_year))

The database spans the years of 1871 to 2016

# Find the name and height of the shortest player in the database. 
How many games did he play in?

In [66]:
#Height of shortest player
min_height = people_df.height.min()

#NAME of shortest player
shortest_first_name = people_df.loc[people_df['height'] == people_df.height.min(), 'namefirst']
shortest_last_name = people_df.loc[people_df['height'] == people_df.height.min(), 'namelast']

#Team of shortest player
shortest_team_df = pd.merge(people_df, appearances_df, on='playerid')
shortest_team = shortest_team_df.loc[shortest_team_df['height'] == shortest_team_df.height.min(), 'teamid']

5843    Name: Eddie Gaedel
dtype: object
Height: 43.0 inches
31139    Team: SLA
Name: teamid, dtype: object

In [73]:
print('Name: ' +shortest_first_name + " " + shortest_last_name)
print('Height: ' + str(min_height) + ' inches')
print('Team: ' + shortest_team)

5843    Name: Eddie Gaedel
dtype: object
Height: 43.0 inches
31139    Team: SLA
Name: teamid, dtype: object

# Find all players in the database who played at Vanderbilt University. 
		---collegeplaying; schools---
Create a list showing each player’s first and last names as well as the total salary they earned in the major leagues. 
Sort this list in descending order by the total salary earned. 
Which Vanderbilt player earned the most money in the majors?

In [157]:
player_college_df = pd.merge(people_df, collegeplaying_df,on='playerid')
player_college_df = pd.merge(player_college_df, schools_df, on='schoolid')
playyer_college_df = pd.merge(player_college_df,salaries_df, on='playerid')
vanderbilt_df = player_school_df.loc[player_school_df.schoolname.str.startswith('Vanderbilt', na=False)]
vanderbilt_df = vanderbilt_df[['playerid','namefirst','namelast']]
vanderbilt_df = pd.merge(vanderbilt_df,salaries_df,on='playerid')

In [158]:
vanderbilt_df = vanderbilt_df.groupby(['playerid', 'namefirst','namelast','yearid','salary']).nunique()['yearid']

playerid   namefirst  namelast  yearid  salary
alvarpe01  Pedro      Alvarez   2011    2050000.0    1
                                2012    2200000.0    1
                                2013    700000.0     1
                                2014    4250000.0    1
                                2015    5750000.0    1
Name: yearid, dtype: int64

AttributeError: 'Series' object has no attribute 'info'

---

### When you are finished using the connection.. Clean it up!

In [ ]:
engine.dispose()